<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/aop/spring-mvc.xsd">

  <!-- 也可以读取配置文件 -->
  <context:property-placeholder location="classpath:conf/*.properties"/>

  <!-- 请求默认域名，默认跳转url(view-name也可直接为视图名，如"func/jsonForm") -->
  <!-- 注意，该配置生效必须webapp根目录没有index.html或index.jsp等 -->
  <!-- 可改用RequestMapping("/") -->
  <mvc:view-controller path="/" view-name="redirect:/index"/>

  <!-- spring自带的异常处理器 -->
  <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <property name="defaultErrorView" value="error/error-500" />
    <property name="exceptionMappings">
      <props>
        <prop key="java.lang.Exception">error/error-500</prop>
        <prop key="java.lang.Throwable">error/error-500</prop>
      </props>
    </property>
  </bean>

  <!-- 自定义作用域配置 比如prototype等 -->
  <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
    <property name="scopes">
      <map>
        <entry key="thread">
          <bean class="org.springframework.context.support.SimpleThreadScope"/>
        </entry>
      </map>
    </property>
  </bean>

  <!-- 配置List和Map类型的Bean -->
  <util:list id="listbeanID">
    <value>admin</value>
  </util:list>
  <util:map id="mapBeanID">
    <entry key="ik" value="mmp"/>
    <entry key="ik1" value="mmp"/>
  </util:map>

</beans>

<!--
1.此文件用于记录笔记，配置内容可能会有错误，请勿将其加入到spring上下文
2.
3.
-->